	<style type="text/css">
		#menu{
			font-size: 18px;
			font-weight: bold;
		}
		#menu li{
			text-decoration: none;  /*去掉前面的圆点*/
			list-style: none;
			float: left;
			border: 1px solid #FFFFFF;
			background-color: #30DDEB;
		}
		#menu li a{
			color:#040404;
			text-decoration: none;
			margin:0px;
			display: block;
			/*内边距（即填充padding）的方式，让每个菜单变得宽一些*/
<span style="white-space:pre">			</span>padding: 8px 50px; 			
<span style="white-space:pre">			</span>height:30px; 
			line-height:30px; 
			text-align:center;
		}
      <span style="white-space:pre">		</span>/*定义链接的悬停效果，让导航栏更美观*/
		#menu li a:hover{ 
			background-color: #FCFCFC;
		}
	</style>